body {
    background-color: aqua;
}
*{
    margin: 0%;
    padding: 0%
}
nav {
    font-family: sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0px 12px;
}

.brand img {
    width: 44px;
    padding: 0px 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.container {
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: sans-serif;
    display: flex;
    margin: 25px auto;
    width: 80%;
    border-radius: 12px;
    padding: 34px;
    background-image: url(girls\ sing.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom {
    position: sticky;
    height: 120px;
    background-color: black;
    color: white;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icon i {
    width: 44px;
    margin-top: 25px;
    cursor: pointer;
}

#myprogressbar {
    width: 80vw;
    cursor: pointer;
}

.songiteamcontainer {
margin-top: 35px;
}

.songitem {
    display: flex;
    background-color: blue;
    color: white;
    margin: 25px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 44px;
}

.songitem img {
    height: 44px;
    margin: 8px 25px;
    border-radius: 34px;
}

.timestamp{
    margin: 0px 23px;
}

.timestamp i {
    cursor: pointer;
}

.songinfo {
    position: absolute;
    left: 9vw;
    font-family: sans-serif;
}

.songinfo img {
    height: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

@media only screen and (max-width: 505px) {
    body {
      background-color: red;
  }
  .icon {
    margin-top: 10px;

  }
  .songinfo {
    margin-bottom: 25px;
  }
  .songitem {
    font-size: 13px;
  }
}